.orders {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  display: flex;
}
.left {
  width: 60%;
  padding: 5px;
}
.right {
  width: 40%;
  /* border-left: 1px solid blue; */
  padding: 5px;
}
.dark_text {
    font-weight: 600;
    color: #202024;
}
.light_text {
    font-weight: 600;
    color: #666666;
}
.btn {
    width: 80%;
    height: 50px;
    background-color: rgb(244, 51, 151);
    color: white;
    border: none;
    font-size: larger;
    text-align: center;
    border-radius: 5px;
    margin: 20px 10% 0;
    padding: 12px;
}
.price {
    align-self: flex-end;
    text-align: right;
}